<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20C69</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>DirectHW</string>
	<key>CFBundleIdentifier</key>
	<string>com.dcook.driver.DirectHW</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DirectHW</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>DHWK</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12C33</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.1</string>
	<key>DTSDKBuild</key>
	<string>20C63</string>
	<key>DTSDKName</key>
	<string>macosx11.1</string>
	<key>DTXcode</key>
	<string>1230</string>
	<key>DTXcodeBuild</key>
	<string>12C33</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>DirectHWUserClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.dcook.driver.DirectHW</string>
			<key>IOClass</key>
			<string>DirectHWService</string>
			<key>IOMatchCategory</key>
			<string>DirectHWService</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>DirectHWUserClient</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.1</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0d0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0d0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0d0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0b1</string>
	</dict>
	<key>OSBundleRequied</key>
	<string>Root</string>
</dict>
</plist>
